{% extends "base.html" %}
{% load static %}
{% block container %}


<div id="grve-indicator" class=" grve-style-1 grve-blend">
    <div class="grve-default"></div>
    <div class="grve-inner grve-ind-arrow"> <svg width="40px" height="16px" viewBox="0 0 40 16">
            <polygon class="grve-arrow-line" points="0 7 38 7 38 9 0 9"></polygon>
            <polygon class="grve-arrow-point"
                points="31.3481912 0 40 8 31.3481912 16 30 14.5816219 37.1 8 30 1.41837809"></polygon>
        </svg>
    </div>
    <div class="grve-inner grve-ind-search"> <svg width="24px" height="24px" viewBox="0 0 24 24"
            stroke-width="0">
            <path
                d="M11,3 C15.418278,3 19,6.581722 19,11 C19,13.1038245 18.1879088,15.0179749 16.860099,16.4460786 L20.2071068,19.7928932 C20.5976311,20.1834175 20.5976311,20.8165825 20.2071068,21.2071068 C19.8466228,21.5675907 19.2793918,21.5953203 18.8871006,21.2902954 L18.7928932,21.2071068 L15.3199029,17.7345448 C14.0739277,18.5354376 12.5912161,19 11,19 C6.581722,19 3,15.418278 3,11 C3,6.581722 6.581722,3 11,3 Z M11,5 C7.6862915,5 5,7.6862915 5,11 C5,14.3137085 7.6862915,17 11,17 C14.3137085,17 17,14.3137085 17,11 C17,7.6862915 14.3137085,5 11,5 Z">
            </path>
        </svg>
    </div>
    <div class="grve-inner grve-ind-plus"> <svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="0">
            <path
                d="M12,5 C12.5128358,5 12.9355072,5.38604019 12.9932723,5.88337887 L13,6 L13,11 L18,11 C18.5522847,11 19,11.4477153 19,12 C19,12.5128358 18.6139598,12.9355072 18.1166211,12.9932723 L18,13 L13,13 L13,18 C13,18.5522847 12.5522847,19 12,19 C11.4871642,19 11.0644928,18.6139598 11.0067277,18.1166211 L11,18 L11,13 L6,13 C5.44771525,13 5,12.5522847 5,12 C5,11.4871642 5.38604019,11.0644928 5.88337887,11.0067277 L6,11 L11,11 L11,6 C11,5.44771525 11.4477153,5 12,5 Z">
            </path>
        </svg>
    </div>
    <div class="grve-inner grve-ind-arrows-left-right"> <svg width="24px" height="24px" viewBox="0 0 24 24">
            <path d="M20,8 L24,12 L20,16 L19,15 L22,12 L19,9 L20,8 Z M4,8 L5,9 L2,12 L5,15 L4,16 L0,12 L4,8 Z">
            </path>
        </svg>
    </div>
    <div class="grve-inner grve-ind-text"><span class="grve-link-text"></span></div>
    <div class="grve-ind-content"> <svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="0">
            <path
                d="M12,5 C12.5128358,5 12.9355072,5.38604019 12.9932723,5.88337887 L13,6 L13,11 L18,11 C18.5522847,11 19,11.4477153 19,12 C19,12.5128358 18.6139598,12.9355072 18.1166211,12.9932723 L18,13 L13,13 L13,18 C13,18.5522847 12.5522847,19 12,19 C11.4871642,19 11.0644928,18.6139598 11.0067277,18.1166211 L11,18 L11,13 L6,13 C5.44771525,13 5,12.5522847 5,12 C5,11.4871642 5.38604019,11.0644928 5.88337887,11.0067277 L6,11 L11,11 L11,6 C11,5.44771525 11.4477153,5 12,5 Z">
            </path>
        </svg>
    </div>
</div>
<div id="grve-theme-content">

    <div id="grve-post-title" class="grve-title-section grve-with-image grve-medium-height grve-bg-primary-1"
        data-height="medium">
        <div class="grve-wrapper" style="min-height:300px;">
            <div class="grve-content grve-align-center-bottom" data-animation="none">
                <div class="grve-container">
                    <div class="grve-title-content-wrapper grve-bg-none grve-align-left grve-content-container">
                        <div class="grve-subheading grve-title-categories clearfix grve-text-white">
                            <div class="grve-categories">
                                <ul>
                                    <li><a class="commentry-button" href="{% url 'category/commentary' %}">Commentary</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <h1 class="grve-title grve-post-title grve-text-white"><span>China’s voluntary carbon
                                market could burst back into life</span></h1>
                        <div class="grve-title-meta-content grve-text-white">
                            <ul >
                                <li id="align-banner" class="grve-post-date">
                                    <time datetime="2023-03-21T10:47:06+00:00">
                                        21 March 2023 </time>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grve-background-wrapper">
            <div class="grve-bg-image grve-bg-center-center grve-bg-image-id-46659"
                style="background-image: url(https://troveresearstg.wpengine.com/wp-content/uploads/2022/10/commentary-2.png);">
            </div>
        </div>
    </div>

    <div class="grve-single-wrapper">

        <div id="grve-content" class="clearfix">
            <div id="grve-page-breadcrumbs" class="grve-breadcrumbs clearfix grve-align-left">
                <div class="grve-breadcrumbs-wrapper">
                    <div class="grve-container">
                        <nav id="grve-yoast-breadcrumbs" class="grve-yoast-breadcrumbs grve-small-text"
                            aria-label="Breadcrumbs">
                            <span>
                                <span><a href="{% url 'index' %}">Home</a> /
                                    <span><a href="{% url 'reports-and-commentary' %}">Reports and Commentary</a> /
                                        <span class="breadcrumb_last" aria-current="page">
                                            China’s voluntary carbon market could burst back into life
                                        </span></span></span></span>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="grve-content-wrapper">

                <div id="grve-main-content">
                    <div class="grve-main-content-wrapper clearfix">
                        <article id="post-44085"
                            class="post-44085 post type-post status-publish format-standard has-post-thumbnail hentry category-commentary category-free tag-carbon-projects-and-transactions tag-commentary tag-free-report tag-policy-and-guidance grve-entry-item grve-blog-item"
                            itemscope itemType="http://schema.org/BlogPosting">
                            <div id="grve-single-content">
                                <h2 class="grve-hidden" itemprop="headline">China’s voluntary carbon market
                                    could burst back into life</h2>
                                <div itemprop="articleBody">
                                    <div class="grve-container pad">
                                        <p><em>The following article is an extract from Trove Research’s China
                                                country profile, available to subscribers. &nbspThese country
                                                profiles describe the opportunities and risks for developing and
                                                trading carbon credits in 15 of the largest carbon credit
                                                markets.</em></p>
                                        <p><strong
                                                style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit;">China’s
                                                voluntary carbon market could burst back into life</strong></p>
                                        <p>The Beijing Green Exchange announced in February 2023 that it has
                                            completed the registration and trading platforms for China Certified
                                            Emission Reductions (CCER) credits. Once the platforms have been
                                            approved, the CCER scheme will relaunch, giving an urgently needed
                                            breath of life to the Chinese carbon market.</p>
                                        <p>With no new projects started since the scheme was suspended in 2017,
                                            the existing supply of CCERs has been almost completely drained by
                                            the national ETS. As international credits are not eligible for
                                            China’s ETS, Chinese project developers could shift their focus away
                                            from international registries and towards meeting the growing
                                            domestic demand.</p>
                                        <p>The market is awaiting the confirmation of key details, such as the
                                            full list of eligible project types and methodologies. In the
                                            meantime, here is what we know.</p>
                                        <h4><strong>Demand for CCERs has surged</strong></h4>
                                        <p>The first iteration of the CCER scheme, launched in 2012, was
                                            designed for the Kyoto Protocol’s Clean Development Mechanism and
                                            traded on regional pilot ETS platforms. However, the programme never
                                            really got off the ground; prices and demand remained low, and the
                                            quality of the credits was questioned. Of the 80 million CCERs
                                            generated, only 32 million were sold between 2012 and 2017.</p>
                                        <p>In March 2017, the National Development and Reform Commission (NDRC)
                                            suspended all new applications and registrations in the national
                                            register, citing low trading volume and the lack of methodological
                                            standardisation. Voluntary projects have continued to trade though,
                                            through the regional pilot platforms, but it remains unclear how
                                            many will be eligible for the new centralised registry. On the
                                            national level, no new projects have been approved since 2017. The
                                            launch of the national compliance market in July 2021 has catalysed
                                            a new source of demand for CCERs, even though the ETS currently only
                                            covers the power sector.</p>
                                        <p>The primary trading units on the ETS are Carbon Emission Allowances
                                            (CEAs), allocated by the government free of charge. In October 2021,
                                            the Ministry of Ecology and Environment (MEE) announced that
                                            companies would be allowed to offset up to 5% of their requirements
                                            with CCERs, and the remaining stock of CCER credits from the
                                            national registry was released into the market. By the end of the
                                            compliance cycle on 30 December 2021, the existing supply of CCERs
                                            had nearly been exhausted in two months.</p>
                                        <p>Due to the lack of supply, the weekly trading volume of CCERs has
                                            fallen, to just 57,000 units in February 2023, pushing up the price
                                            of the remaining credits. The diminishing liquidity is pressuring
                                            regulators to accelerate the reboot of the voluntary scheme.</p>
                                        <p>If China goes through with its plans to expand its ETS coverage to
                                            eight high-emission sectors demand for CCERs could increase
                                            substantially. Based on Trove Research’s proprietary demand forecast
                                            model, annual CCER retirements in the national ETS could reach over
                                            100 Mt CO<sub>2</sub>e by 2026 with further growth in the 2030s.</p>
                                        <h4><strong>The Chinese carbon market will be inward-looking for
                                                now</strong></h4>
                                        <p>These projections will take time to bear fruit. Trove Research data
                                            indicates that since the suspension of the CCER scheme in March
                                            2017, China-based projects have issued approximately 200
                                            MtCO<sub>2</sub>e of credits through international registries. This
                                            represents approximately 10% of global issuance. However, once the
                                            CCER scheme is operational again, Chinese project developers are
                                            likely to have less interest in international registries, preferring
                                            to sell into the domestic market.</p>
                                        <p>At the same time, CCERs remain largely ineligible for international
                                            trade. Although the ICAO confirmed that CCERs are eligible in the
                                            current CORSIA compliance cycle, nine project types are excluded,
                                            and the credits must be issued from projects that started crediting
                                            after 2016. Given that no new projects have been approved since
                                            March 2017, the number of eligible projects is small.</p>
                                        <p>In the longer term the new CCER programme could become more
                                            international. The prospect of a ‘Belt and Road’ carbon market has
                                            been suggested by Chinese carbon market experts. Moreover,
                                            methodological refinements are expected to improve the quality
                                            standards for CCERs, which could boost international demand for
                                            Chinese voluntary credits.</p>
                                        <h4><strong>Renewables likely to be out of the picture </strong></h4>
                                        <p>Throughout the Kyoto and pre-2017 era, China was one of the main
                                            global suppliers of carbon credits, in particular from renewable
                                            energy projects. Many of these have been questioned on their
                                            additionality, and this road now looks to have come to an end.</p>
                                        <p>Most existing renewable projects will not be eligible for the
                                            relaunched CCER scheme. As the profitability of renewables
                                            increases, these projects are less likely to meet the additionality
                                            criteria of carbon credit methodologies. Although the Chinese
                                            government has confirmed that new CCERs will still be issued from
                                            renewable projects. we expect that eligible renewable energy
                                            methodologies will focus more on small-scale or experimental, such
                                            as local microgrids.</p>
                                        <h4><strong>Methane and forestry likely to be key sources of carbon
                                                credits</strong></h4>
                                        <p>Nature-based methodologies will take the spotlight in the relaunched
                                            CCER scheme, reflecting a step change from the Kyoto Protocol to the
                                            Paris Agreement. The Chinese government has stated that methane
                                            utilisation and forestry will be core sectors.</p>
                                        <p>China refrained from signing the Global Methane Pledge at COP27, but
                                            it committed in 2022 to develop a comprehensive methane mitigation
                                            strategy by 2030. The MEE has announced that the national strategy
                                            will incorporate market mechanisms, and the only project type
                                            confirmed to be eligible for CCERs so far is coalbed methane
                                            utilisation. Other methane project types, including in the
                                            agricultural sector, are expected to be eligible too.</p>
                                        <p>Although technical requirements have not been published, the
                                            eligibility of forest carbon sinks is almost certain. As a result,
                                            several provinces have released their own methodologies and targets.
                                            In January 2023, Sichuan province announced plans to develop 30
                                            carbon sink projects covering over 600,000 hectares of forest by
                                            2025.</p>
                                    </div>
                                </div>
                                <span class="grve-hidden">
                                    <span class="grve-structured-data" itemprop="image" itemscope
                                        itemtype="http://schema.org/ImageObject">
                                        <span
                                            itemprop='url'>https://trove-research.com/wp-content/uploads/2023/03/bruce-rottgers-x2uU3yoGDLs-unsplash-1920x1280-1-e1680535095948.jpg</span>
                                        <span itemprop='height'>324</span>
                                        <span itemprop='width'>243</span>
                                    </span>
                                    <span class="grve-structured-data" itemprop="author" itemscope
                                        itemtype="http://schema.org/Person">
                                        <span itemprop="name">Trove Research</span>
                                    </span>
                                    <span class="grve-structured-data" itemprop="publisher" itemscope
                                        itemtype="http://schema.org/Organization">
                                        <span itemprop='name'>Trove Research</span>
                                        <span itemprop='logo' itemscope
                                            itemtype='http://schema.org/ImageObject'>
                                            <span
                                                itemprop='url'>https://trove-research.com/wp-content/uploads/2023/03/bruce-rottgers-x2uU3yoGDLs-unsplash-1920x1280-1-e1680535095948.jpg</span>
                                        </span>
                                    </span>
                                    <time class="grve-structured-data" itemprop="datePublished"
                                        datetime="2023-03-21T10:47:06+00:00">21 March 2023</time>
                                    <time class="grve-structured-data" itemprop="dateModified"
                                        datetime="2023-04-03T16:18:24+01:00">3 April 2023</time>
                                    <span class="grve-structured-data" itemprop="mainEntityOfPage" itemscope
                                        itemtype="http://schema.org/WebPage"
                                        itemid="https://trove-research.com/commentary/chinas-voluntary-carbon-market-could-burst-back-into-life/"></span>
                                </span>
                            </div>
                        </article>
                        <div class="grve-single-section">
                            <div class="grve-container">
                                <div class="grve-single-post-tags grve-margin-top-2x">
                                    <ul class="grve-tags grve-h6 grve-border">
                                        <ul class="grve-tags grve-h6 grve-border">
                                            <li><a
                                                    href="{% url 'tag-carbon-projects-and-transactions' %}">Carbon
                                                    Projects and Transactions</a></li>
                                            <ul class="grve-tags grve-h6 grve-border">
                                                <li><a
                                                        href="{% url 'tag-commentary' %}">Commentary</a>
                                                </li>
                                                <ul class="grve-tags grve-h6 grve-border">
                                                    <li><a href="{% url 'tag-free-report' %}">Free
                                                            Report</a></li>
                                                    <ul class="grve-tags grve-h6 grve-border">
                                                        <li><a
                                                                href="{% url 'tag-policy-and-guidance' %}">Policy
                                                                and Guidance</a></li>
                                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<div class="section-footer /">
    <div class="templatera_shortcode">
        <p>
        <div class="grve-section grve-row-section grve-fullwidth-background section-book-demo grve-padding-top-2x grve-padding-bottom-2x grve-headings-white grve-with-bg-image"
            data-header-color="default" style="color:#ffffff;">
            <div class="grve-container">
                <div class="grve-row grve-bookmark grve-columns-gap-default grve-mobile-vertical-gap-30">
                    <div class="grve-column wpb_column grve-bookmark grve-column-1  grve-with-bg-transparent">
                        <div class="grve-column-wrapper">
                            <div class="grve-column-content">
                                <div class="grve-empty-space grve-height-1x"></div>
                                <div class="grve-element grve-callout">
                                    <div class="grve-callout-wrapper">
                                        <h3 class="grve-callout-content grve-h3">Book a demo</h3>
                                        <p class="">To find out how your organisation can benefit from Trove’s
                                            Intelligence Platform, schedule a demo with our team.</p>
                                    </div>
                                    <div class="grve-button-wrapper"><a
                                            href="/contact-us/?subject=Book%20a%20demo" title="Book a demo"
                                            class="grve-btn grve-round grve-bg-primary-1 grve-border-primary-1 grve-bg-hover-black grve-border-hover-black grve-text-white grve-text-hover-white grve-btn-medium">
                                            <span>Book a demo</span>
                                        </a></div>
                                </div>
                                <div class="grve-empty-space grve-height-1x"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grve-background-wrapper">
                <div class="grve-bg-image grve-bg-center-center grve-bg-image-id-19925"
                    style="background-image: url(https://trove-research.com/wp-content/uploads/2022/07/bookdemo.jpg);">
                </div>
                <div class="grve-bg-overlay grve-bg-primary-2 grve-opacity-40"></div>
            </div>
        </div>
        </p>
    </div>
    <div class="templatera_shortcode">
        <div class="grve-section grve-row-section grve-fullwidth-background section-subscribe grve-padding-top-2x grve-padding-bottom-2x grve-with-bg-image"
            data-header-color="default">
            <div class="grve-container">
                <div class="grve-row grve-bookmark grve-columns-gap-default grve-mobile-vertical-gap-30">
                    <div class="grve-column wpb_column grve-bookmark grve-column-1-2  grve-headings-white grve-with-bg-transparent"
                        style="color:#ffffff;">
                        <div class="grve-column-wrapper">
                            <div class="grve-column-content">
                                <div class="grve-empty-space grve-height-1x"></div>
                                <h3 class="grve-element grve-title grve-align-inherit grve-h3"><span>Subscribe
                                        to Corporate Climate Weekly</span></h3>
                                <div class="grve-element grve-text">
                                    <p>Sign up to receive a weekly digest on corporate climate commitments and
                                        action from around the world.</p>
                                </div>
                                <div class="grve-empty-space grve-height-1x"></div>
                                <div class="grve-element grve-align-inherit"><a href="/auth/register"
                                        class="grve-btn grve-square grve-bg-primary-1 grve-border-primary-1 grve-bg-hover-black grve-border-hover-black grve-text-white grve-text-hover-white grve-btn-medium">
                                        <span>SIGN UP</span>
                                    </a></div>
                                <div class="grve-empty-space grve-height-1x"></div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="grve-column wpb_column grve-bookmark grve-column-1-2  grve-with-bg-transparent grve-empty-column">
                        <div class="grve-column-wrapper">
                            <div class="grve-column-content"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grve-background-wrapper">
                <div class="grve-bg-image grve-bg-center-center grve-bg-image-id-19501"
                    style="background-image: url(https://trove-research.com/wp-content/uploads/2022/07/Group-56.jpg);">
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}