{% extends "base.html" %}
{% load static %}
{% block container %}


<div id="grve-indicator" class=" grve-style-1 grve-blend">
    <div class="grve-default"></div>
    <div class="grve-inner grve-ind-arrow"> <svg width="40px" height="16px" viewBox="0 0 40 16">
            <polygon class="grve-arrow-line" points="0 7 38 7 38 9 0 9"></polygon>
            <polygon class="grve-arrow-point"
                points="31.3481912 0 40 8 31.3481912 16 30 14.5816219 37.1 8 30 1.41837809"></polygon>
        </svg>
    </div>
    <div class="grve-inner grve-ind-search"> <svg width="24px" height="24px" viewBox="0 0 24 24"
            stroke-width="0">
            <path
                d="M11,3 C15.418278,3 19,6.581722 19,11 C19,13.1038245 18.1879088,15.0179749 16.860099,16.4460786 L20.2071068,19.7928932 C20.5976311,20.1834175 20.5976311,20.8165825 20.2071068,21.2071068 C19.8466228,21.5675907 19.2793918,21.5953203 18.8871006,21.2902954 L18.7928932,21.2071068 L15.3199029,17.7345448 C14.0739277,18.5354376 12.5912161,19 11,19 C6.581722,19 3,15.418278 3,11 C3,6.581722 6.581722,3 11,3 Z M11,5 C7.6862915,5 5,7.6862915 5,11 C5,14.3137085 7.6862915,17 11,17 C14.3137085,17 17,14.3137085 17,11 C17,7.6862915 14.3137085,5 11,5 Z">
            </path>
        </svg>
    </div>
    <div class="grve-inner grve-ind-plus"> <svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="0">
            <path
                d="M12,5 C12.5128358,5 12.9355072,5.38604019 12.9932723,5.88337887 L13,6 L13,11 L18,11 C18.5522847,11 19,11.4477153 19,12 C19,12.5128358 18.6139598,12.9355072 18.1166211,12.9932723 L18,13 L13,13 L13,18 C13,18.5522847 12.5522847,19 12,19 C11.4871642,19 11.0644928,18.6139598 11.0067277,18.1166211 L11,18 L11,13 L6,13 C5.44771525,13 5,12.5522847 5,12 C5,11.4871642 5.38604019,11.0644928 5.88337887,11.0067277 L6,11 L11,11 L11,6 C11,5.44771525 11.4477153,5 12,5 Z">
            </path>
        </svg>
    </div>
    <div class="grve-inner grve-ind-arrows-left-right"> <svg width="24px" height="24px" viewBox="0 0 24 24">
            <path d="M20,8 L24,12 L20,16 L19,15 L22,12 L19,9 L20,8 Z M4,8 L5,9 L2,12 L5,15 L4,16 L0,12 L4,8 Z">
            </path>
        </svg>
    </div>
    <div class="grve-inner grve-ind-text"><span class="grve-link-text"></span></div>
    <div class="grve-ind-content"> <svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="0">
            <path
                d="M12,5 C12.5128358,5 12.9355072,5.38604019 12.9932723,5.88337887 L13,6 L13,11 L18,11 C18.5522847,11 19,11.4477153 19,12 C19,12.5128358 18.6139598,12.9355072 18.1166211,12.9932723 L18,13 L13,13 L13,18 C13,18.5522847 12.5522847,19 12,19 C11.4871642,19 11.0644928,18.6139598 11.0067277,18.1166211 L11,18 L11,13 L6,13 C5.44771525,13 5,12.5522847 5,12 C5,11.4871642 5.38604019,11.0644928 5.88337887,11.0067277 L6,11 L11,11 L11,6 C11,5.44771525 11.4477153,5 12,5 Z">
            </path>
        </svg>
    </div>
</div>
<div id="grve-theme-content">

    <div id="grve-post-title" class="grve-title-section grve-with-image grve-medium-height grve-bg-primary-1"
        data-height="medium">
        <div class="grve-wrapper" style="min-height:300px;">
            <div class="grve-content grve-align-center-bottom" data-animation="none">
                <div class="grve-container">
                    <div class="grve-title-content-wrapper grve-bg-none grve-align-left grve-content-container">
                        <div class="grve-subheading grve-title-categories clearfix grve-text-white">
                            <div class="grve-categories">
                                <ul >
                                    <li><a class="commentry-button" href="{% url 'category/commentary' %}">Commentary</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <h1 class="grve-title grve-post-title grve-text-white"><span>Insurance joins list of
                                options to de-risk carbon credits</span></h1>
                        <div class="grve-title-meta-content grve-text-white">
                            <ul >
                                <li id="align-banner" class="grve-post-date">
                                    <time datetime="2022-12-05T09:50:48+00:00">
                                        5 December 2022 </time>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grve-background-wrapper">
            <div class="grve-bg-image grve-bg-center-center grve-bg-image-id-44062"
                style="background-image: url(https://troveresearstg.wpengine.com/wp-content/uploads/2022/10/commentary-2.png);">
            </div>
        </div>
    </div>

    <div class="grve-single-wrapper">

        <div id="grve-content" class="clearfix">
            <div id="grve-page-breadcrumbs" class="grve-breadcrumbs clearfix grve-align-left">
                <div class="grve-breadcrumbs-wrapper">
                    <div class="grve-container">
                        <nav id="grve-yoast-breadcrumbs" class="grve-yoast-breadcrumbs grve-small-text"
                            aria-label="Breadcrumbs">
                            <span>
                                <span><a href="{% url 'index' %}">Home</a> /
                                    <span><a href="{% url 'reports-and-commentary' %}">Reports and Commentary</a> /
                                        <span class="breadcrumb_last" aria-current="page">
                                            Insurance joins list of options to de-risk carbon credits
                                        </span></span></span></span>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="grve-content-wrapper">

                <div id="grve-main-content">
                    <div class="grve-main-content-wrapper clearfix">
                        <article id="post-33137"
                            class="post-33137 post type-post status-publish format-standard has-post-thumbnail hentry category-commentary category-free tag-carbon-projects-and-transactions tag-free-report tag-policy-and-guidance grve-entry-item grve-blog-item"
                            itemscope itemType="http://schema.org/BlogPosting">
                            <div id="grve-single-content">
                                <h2 class="grve-hidden" itemprop="headline">Insurance joins list of options to
                                    de-risk carbon credits</h2>
                                <div itemprop="articleBody">
                                    <div class="grve-container pad">
                                        <p>In October, insurance broker Howden unveiled a new insurance product
                                            for voluntary carbon credits, and back in June, UK-based start-up,
                                            Kita, raised seed funding to develop new insurance products for
                                            carbon credit transactions. These innovations are part of a growing
                                            trend of intermediaries trying to de-risk investments in carbon
                                            credit projects. &nbspInvestors in, and buyers of, carbon credits are
                                            often interested but hesitant. If these risks can be mitigated or
                                            laid off to third parties, it could unlock a significant expansion
                                            of the sector.</p>
                                        <h5><em><strong>State of play</strong></em></h5>
                                        <p>Companies and other organisations looking to offset their carbon
                                            emissions have ‘retired’ some 174 MtCO<sub>2</sub>e of carbon
                                            credits in the last twelve months, in transactions estimated by
                                            Trove Research at over billion in value. Based on the climate
                                            commitments of companies, the market could grow over the next decade
                                            to some $10-40 billion by 2030 (see Trove’s Oct-2021 report<strong>
                                                <a
                                                    href="{% url 'report' %}"> here</a></strong>).
                                        </p>
                                        <p>However, as in any market, there are risks. In financial markets,
                                            risks centre on price volatility with a range of tools available to
                                            manage and mitigate the downsides. In the voluntary carbon market,
                                            exposure to changes in the price of credits certainly matters, but
                                            carbon credits also raise additional issues for buyers such as risks
                                            of greenwashing, the accuracy of verification, the permanence of the
                                            carbon impact, ‘additionality’ (the question of whether projects
                                            might have happened anyway), and double counting or double claiming.
                                            According to a survey conducted by TSVCM in 2021, credit quality was
                                            at the heart of buyer hesitancy, being identified by 45% of buyers
                                            as a pain point.</p>
                                        <p>The development of third-party risk management tools should therefore
                                            be welcomed by the carbon credit industry. These tools build on the
                                            growing use of insurance and reinsurance products for renewable
                                            energy project finance in developing economies. For example, project
                                            development lenders in Africa and Asia have started using financial
                                            instruments to protect default risk on loans. Insurance and
                                            reinsurance products can also enhance the credit on project loans or
                                            bonds so that they can be sold to risk-averse institutional
                                            investors. In both cases, new money becomes available for lending.
                                        </p>
                                        <p>The Howden product for the voluntary carbon market, has been created
                                            in partnership with carbon finance business Respira International
                                            and Nephila Capital, an investment manager specialising in
                                            reinsurance risk, and will focus on covering voluntary carbon
                                            credits against third-party negligence and fraud. Howden’s statement
                                            said: “Capacity came from the Lloyd’s market, with Nephila’s
                                            Syndicate 2357 as the lead market.” The insurance will be wrapped
                                            around “books of independently-verified, high-quality carbon
                                            credits”. Howden was advised by climate risk finance company
                                            Parhelion.</p>
                                        <p>The vital principle with insurance is always to check what is covered
                                            and what is not. For instance, buildings insurance may exclude flood
                                            damage, or war, or even subsidence, or as many businesses have
                                            recently discovered business interruption insurance may exclude
                                            global pandemics. Similarly, insurance for carbon credits won’t, for
                                            now at least, cover all problems that might crop up.</p>
                                        <p>At present Howden’s offering will cover fraud and third-party
                                            negligence – “the most damaging things reputationally”. In future,
                                            Howden has said it hopes to extend cover to catastrophe risk
                                            affecting the underlying projects and may look at offering cover
                                            forward-looking credit delivery risk, that is projects not producing
                                            what had been hoped.</p>
                                        <p>Insuring against this risk is currently the focus of Kita, with its
                                            “Carbon Purchase Protection Cover” which would pay out if the
                                            project didn’t deliver as many carbon credits as it intended. The
                                            initial product will centre on “removal” credits, a project category
                                            which includes technologies such as growing new forests, biochar
                                            and, potentially, direct air capture. Nature-based projects could
                                            under-deliver for several reasons, for example because of
                                            over-estimating the rate of growth of new trees, or the impact of
                                            drought, fire, pest or illegal logging.</p>
                                        <p>Trove analysis of 60 nature restoration projects shows that on
                                            average they deliver around 100% of the expected volume of carbon
                                            credits, but with a higher variance. A good proportion deliver less
                                            than 40% of their expected volume, while others exceed planned
                                            output by over 50%. Outcomes are seemingly unpredictable when it
                                            comes to nature.</p>
                                        <p>However, for the foreseeable future, the most difficult hazard to
                                            cover is likely to be political risk. Indonesia, for instance,
                                            recently suspended verification of carbon credit issuances, and in
                                            the summer India floated the idea of banning credit exports,
                                            although he has since rowed back on this. Insurance works by
                                            averaging out random risks where probabilities can be quantified and
                                            impacts measured. &nbspPolitical risks are difficult to quantify, and
                                            although some more general providers do offer products covering
                                            risks such as licence revocation, expropriation, and business
                                            interruption, political risk in relation to carbon credits seems a
                                            step too far for insurers at this time.</p>
                                        <p>Of course, as with any insurance there is a premium to pay and,
                                            usually an excess, and it remains to be seen whether there is a
                                            sufficient appetite to pay for extra cover. In other emerging risk
                                            markets, such as weather derivatives, sometimes the upsides didn’t
                                            seem to justify the premiums. Howden and Kita have not disclosed the
                                            cost of their cover, however we believe the excess is likely to be
                                            between 5% and 10% of the value of the credits.<em> “Buyers need to
                                                have skin in the game,”</em> Howden told Trove.</p>
                                        <p>There are also other ways than insurance for buyers and issuers can
                                            cover these risks. The most obvious and simplest is to
                                            ‘self-insure’, whereby the buyer holds a large enough portfolio to
                                            ride the ups and downs of projects in different parts of the world.
                                            &nbspAnother is for project developers to sell forward only part of their
                                            volume, leaving them a safety margin.</p>
                                        <p>Intermediaries can also play a role by holding a portfolio of
                                            projects with different delivery profiles, so buyers can access a
                                            credit stream with guaranteed delivery. Respira, for example,
                                            provides this portfolio approach as part of the Howden tie-up, as do
                                            several other trading houses.</p>
                                        <p>The advent of insurance for voluntary carbon credits is however, far
                                            from the only initiative going on now that may boost confidence in
                                            the market. Most prominent is the efforts of the Integrity Council
                                            on the Voluntary Carbon Market (IC-VCM), which has recently put out
                                            a draft for consultation of its Core Carbon Principles (CCPs) that
                                            it hopes will eventually become the de facto benchmark for what is
                                            considered a quality credit. Trove summarised the consultation in
                                            its recent webinar – available<strong> <a
                                                    href="{% url 'report' %}"> here</a></strong>.
                                        </p>
                                        <p>If the carbon credit market is to grow to the levels hoped for,
                                            carbon reduction projects certainly need de-risking for both
                                            investors and buyers. Insurance products could well be one of the
                                            tools used, but most likely as part of a portfolio of approaches.
                                        </p>
                                    </div>
                                </div>
                                <span class="grve-hidden">
                                    <span class="grve-structured-data" itemprop="image" itemscope
                                        itemtype="http://schema.org/ImageObject">
                                        <span
                                            itemprop='url'>https://trove-research.com/wp-content/uploads/2022/12/shutterstock_1018105807-1920x1280-1-e1681912497961.jpg</span>
                                        <span itemprop='height'>349</span>
                                        <span itemprop='width'>262</span>
                                    </span>
                                    <span class="grve-structured-data" itemprop="author" itemscope
                                        itemtype="http://schema.org/Person">
                                        <span itemprop="name">Trove Research</span>
                                    </span>
                                    <span class="grve-structured-data" itemprop="publisher" itemscope
                                        itemtype="http://schema.org/Organization">
                                        <span itemprop='name'>Trove Research</span>
                                        <span itemprop='logo' itemscope
                                            itemtype='http://schema.org/ImageObject'>
                                            <span
                                                itemprop='url'>https://trove-research.com/wp-content/uploads/2022/12/shutterstock_1018105807-1920x1280-1-e1681912497961.jpg</span>
                                        </span>
                                    </span>
                                    <time class="grve-structured-data" itemprop="datePublished"
                                        datetime="2022-12-05T09:50:48+00:00">5 December 2022</time>
                                    <time class="grve-structured-data" itemprop="dateModified"
                                        datetime="2023-04-19T14:55:13+01:00">19 April 2023</time>
                                    <span class="grve-structured-data" itemprop="mainEntityOfPage" itemscope
                                        itemtype="http://schema.org/WebPage"
                                        itemid="https://trove-research.com/commentary/insurance-carbon-credits/"></span>
                                </span>
                            </div>
                        </article>
                        <div class="grve-single-section">
                            <div class="grve-container">
                                <div class="grve-single-post-tags grve-margin-top-2x">
                                    <ul class="grve-tags grve-h6 grve-border">
                                        <ul class="grve-tags grve-h6 grve-border">
                                            <li><a
                                                    href="{% url 'tag-carbon-projects-and-transactions' %}">Carbon
                                                    Projects and Transactions</a></li>
                                            <ul class="grve-tags grve-h6 grve-border">
                                                <li><a href="{% url 'tag-free-report' %}">Free
                                                        Report</a></li>
                                                <ul class="grve-tags grve-h6 grve-border">
                                                    <li><a
                                                            href="{% url 'tag-policy-and-guidance' %}">Policy
                                                            and Guidance</a></li>
                                                </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<div class="section-footer /">
    <div class="templatera_shortcode">
        <p>
        <div class="grve-section grve-row-section grve-fullwidth-background section-book-demo grve-padding-top-2x grve-padding-bottom-2x grve-headings-white grve-with-bg-image"
            data-header-color="default" style="color:#ffffff;">
            <div class="grve-container">
                <div class="grve-row grve-bookmark grve-columns-gap-default grve-mobile-vertical-gap-30">
                    <div class="grve-column wpb_column grve-bookmark grve-column-1  grve-with-bg-transparent">
                        <div class="grve-column-wrapper">
                            <div class="grve-column-content">
                                <div class="grve-empty-space grve-height-1x"></div>
                                <div class="grve-element grve-callout">
                                    <div class="grve-callout-wrapper">
                                        <h3 class="grve-callout-content grve-h3">Book a demo</h3>
                                        <p class="">To find out how your organisation can benefit from Trove’s
                                            Intelligence Platform, schedule a demo with our team.</p>
                                    </div>
                                    <div class="grve-button-wrapper"><a
                                            href="/contact-us/?subject=Book%20a%20demo" title="Book a demo"
                                            class="grve-btn grve-round grve-bg-primary-1 grve-border-primary-1 grve-bg-hover-black grve-border-hover-black grve-text-white grve-text-hover-white grve-btn-medium">
                                            <span>Book a demo</span>
                                        </a></div>
                                </div>
                                <div class="grve-empty-space grve-height-1x"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grve-background-wrapper">
                <div class="grve-bg-image grve-bg-center-center grve-bg-image-id-19925"
                    style="background-image: url(https://trove-research.com/wp-content/uploads/2022/07/bookdemo.jpg);">
                </div>
                <div class="grve-bg-overlay grve-bg-primary-2 grve-opacity-40"></div>
            </div>
        </div>
        </p>
    </div>
    <div class="templatera_shortcode">
        <div class="grve-section grve-row-section grve-fullwidth-background section-subscribe grve-padding-top-2x grve-padding-bottom-2x grve-with-bg-image"
            data-header-color="default">
            <div class="grve-container">
                <div class="grve-row grve-bookmark grve-columns-gap-default grve-mobile-vertical-gap-30">
                    <div class="grve-column wpb_column grve-bookmark grve-column-1-2  grve-headings-white grve-with-bg-transparent"
                        style="color:#ffffff;">
                        <div class="grve-column-wrapper">
                            <div class="grve-column-content">
                                <div class="grve-empty-space grve-height-1x"></div>
                                <h3 class="grve-element grve-title grve-align-inherit grve-h3"><span>Subscribe
                                        to Corporate Climate Weekly</span></h3>
                                <div class="grve-element grve-text">
                                    <p>Sign up to receive a weekly digest on corporate climate commitments and
                                        action from around the world.</p>
                                </div>
                                <div class="grve-empty-space grve-height-1x"></div>
                                <div class="grve-element grve-align-inherit"><a href="/auth/register"
                                        class="grve-btn grve-square grve-bg-primary-1 grve-border-primary-1 grve-bg-hover-black grve-border-hover-black grve-text-white grve-text-hover-white grve-btn-medium">
                                        <span>SIGN UP</span>
                                    </a></div>
                                <div class="grve-empty-space grve-height-1x"></div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="grve-column wpb_column grve-bookmark grve-column-1-2  grve-with-bg-transparent grve-empty-column">
                        <div class="grve-column-wrapper">
                            <div class="grve-column-content"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grve-background-wrapper">
                <div class="grve-bg-image grve-bg-center-center grve-bg-image-id-19501"
                    style="background-image: url(https://trove-research.com/wp-content/uploads/2022/07/Group-56.jpg);">
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}